extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='typeQuestion') Type Question:
      select#typeQuestion.form-control(type='select', placeholder='Select Type Question' name='typeQuestion' required='true' )
          option(value=0, selected=(question.typequestion==0 ? 'selected' : false) ) #{'MultipleChoice'}
          option(value=1, selected=(question.typequestion==1 ? 'selected' : false) ) #{'SingleTextInput'}
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Title' name='title' required value=(undefined===question ? '' : question.title) )
      label(for='subText') Description:
      input#subText.form-control(type='textarea', placeholder='subText' name='subText' value=(undefined===question ? '' : question.subtext) )
      label(for='correctAnswer') Correct Answer:
      input#correctAnswer.form-control(type='text', placeholder='Correct Answer' name='correctAnswer' required='true' value=(undefined===question ? '' : question.correctanswer))
      label(for='fakeAnswer1') Fake Answer 1:
      input#fakeAnswer1.form-control(type='text', placeholder='Fake Answer' name='fakeAnswer1' value=(undefined===question ? '' : question.fakeanswer1))
      label(for='fakeAnswer2') Fake Answer 2:
      input#fakeAnswer1.form-control(type='text', placeholder='Fake Answer' name='fakeAnswer2' value=(undefined===question ? '' : question.fakeanswer2))
      label(for='fakeAnswer3') Fake Answer 3:
      input#fakeAnswer1.form-control(type='text', placeholder='Fake Answer' name='fakeAnswer3' value=(undefined===question ? '' : question.fakeanswer3))
      label(for='fakeAnswer4') Fake Answer 4:
      input#fakeAnswer1.form-control(type='text', placeholder='Fake Answer' name='fakeAnswer4' value=(undefined===question ? '' : question.fakeanswer4))
      label(for='fakeAnswer5') Fake Answer 5:
      input#fakeAnswer1.form-control(type='text', placeholder='Fake Answer' name='fakeAnswer5' value=(undefined===question ? '' : question.fakeanswer5))
      label(for='typeMedia') typeMedia:
      input#typeMedia.form-control(type='text', placeholder='typeMedia' name='typeMedia' value=(undefined===question ? '' : question.typemedia))
      label(for='urlMedia') urlMedia:
      input#urlMedia.form-control(type='text', placeholder='urlMedia' name='urlMedia' value=(undefined===question ? '' : question.urlmedia))

    div.form-group
      label Genre:
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='genre', id=genre.id, value=genre.id, checked=genre.checked )
            label(for=genre.id) #{genre.name}          
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg